{"filter":false,"title":"cloud9-RaiseTech-4-5.conf.j2","tooltip":"/roles/nginx/templates/cloud9-RaiseTech-4-5.conf.j2","undoManager":{"mark":-1,"position":-1,"stack":[[{"start":{"row":8,"column":16},"end":{"row":8,"column":30},"action":"remove","lines":["/var/log/nginx"],"id":2},{"start":{"row":8,"column":27},"end":{"row":8,"column":41},"action":"insert","lines":["/var/log/nginx"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":0},"end":{"row":3,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":6,"state":"start","mode":"ace/mode/text"}},"timestamp":1642861635903,"hash":"bee1993bca01b31c71ec156d21598218a040728c"}