{"filter":false,"title":"unicorn.rb.j2","tooltip":"/roles/nginx/templates/unicorn.rb.j2","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":36},"end":{"row":10,"column":36},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":6,"state":"start","mode":"ace/mode/text"}},"timestamp":1642842711946,"hash":"fd4e31259beab650cc3ad7b4b4056a8ef43e70ec"}